@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    font-family: "Do Hyeon", serif;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0; /* 기본 margin 제거 */
    padding: 20px;
}
a {
    text-decoration: none; 
    color: inherit;
}
.top {
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #585858, #000);
    border-radius: 7px 7px 7px 7px;

}

#searchTxt {
    width: 40%;
    border-radius: 20px;
    border: 1px solid #bbb;
    margin: 10px 0;
    padding: 10px 12px;
}

#searchBtn {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    border-radius: 5px;
    width: 60px;
    padding: 5px 5px;
    font-size: 20px;
    line-height: 1;

}

#result {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /*줄바꿈 허용하기*/
    gap: 20px;
    justify-content: center;
}

.item {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.item:hover {
    transform: scale(1.05); /* 마우스를 올리면 살짝 확대 */
}

.item img {
    border-radius: 4px;
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    background-color: white;
    margin-top: 20px;
    margin: 5% auto;
    padding: 20px;
    width: 30%;
    position: relative;
    border-radius: 5px;
    max-height: 80%;
    overflow-y: auto; 
}
.modal-content::-webkit-scrollbar {
    display: none;
}
.modal img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    
}
.close {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 40px;
    cursor: pointer;
}